/* Main Styles */

body {
  margin: 0px;
  background-color: #1d1d21;
    
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #1d1d21;
  color: azure;
}

.about-container {
  display: grid;
  font-family: "Console", "Lucida Console", "Courier New", monospace;
  grid-template-columns: 1fr;
  background-color: #1d1d21;
  color: #fffdd0;
  flex: 1;
}


/* Nav Bar Styles */

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px;
  font-family: "Console", "Lucida Console", "Courier New", monospace;
  font-size: 1rem;
  font-weight: lighter;
}

.center {
  display: flex;
  align-items: center;
}

.nav > .center > div {
  margin-right: 10px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.name {
  color: #8a8a8a;
}

.nav-link {
  height: 19px;
  border-top: 1px solid transparent;
  transition: border-top 0.5s;
}

.nav-link a {
  color: #007367;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link a:hover {
  color: #00c4b4;

}

/* Blog Styles */

.main-container {
  display: flex;
  flex-direction: row;


}

@media (max-width: 820px) {
  .main-container {
    flex-direction: column;
  }

  .main-container .blog-post-list {
    flex: 100%;
  }

  .main-container .blog-container {
    flex: 100%;
  }
}

.main-container .blog-post-list {
  flex: 50%;
  color: #007367;
  width: 500px;

}

.main-container .blog-container {
  flex: 100%;
}


.blog-container .blog-title {
  display: flex;
  text-justify: left;
  margin: 5px;
  height: 25px;
  font-weight: light;
  color: #fffdd0;
}

.blog-container .blog-content {
  display: flex;
  justify-content: center;
  color: lightslategrey;
  border-style: dashed;
  mask-border-width: 2px;
  padding: 16px;
  height: auto;
  width: 600px;
}




